<mat-card>
    <mat-card-title> Excluir Musica </mat-card-title>
    <form>
        <mat-form-field>
            <input
            matInput
            placeholder="Nome"
            [value]= musica.nome
            name= nome
            disabled
            />
        </mat-form-field>
        <mat-form-field>
            <input
            matInput
            placeholder="Nome do Autor"
            [value]= "musica.nomeautor"
            name="nomeautor"
            disabled
            />
        </mat-form-field>
        <mat-form-field>
            <input
            matInput
            placeholder="Album"
            [value]= "musica.album"
            name="album"
            disabled
            />
        </mat-form-field>
        <mat-form-field>
            <input
            matInput
            placeholder="Ano"
            [value]= "musica.ano"
            name="ano"
            disabled
            />
        </mat-form-field>
        
    </form>
    <button mat-raised-button (click)="deleteMusica()" color="warm">
        Excluir

    </button>    
</mat-card>
